*{
    font-family: 'Kumbh Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    background-color: #FFFFFF;
}

p{
    font-size: 16px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #eee;
    /* padding: 15px; */
    align-items: center;
    margin: 0 10%;
    padding: 30px 0;
}

body{
    /* margin: 5%; */
}

button, input {
    outline: none;
}


/****************************************************************/
/*******************         NAV    ****************************/
/****************************************************************/
.logo{
    /* margin: 65px 0; */
    /* flex: 1; */
    flex: 0.5;
    width: 25px;
    height: 25px;
    object-fit: contain;
    
}

nav{
    padding: 0 70px;
    text-align: left !important;
    flex: 2; 
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: inline-block;
}

.cartEimg{
    /* flex: 0.5; */
    display: flex;
    align-items: center !important;
    position: relative;
}

.cart-icon{
    margin: 35px;
    width: 27px;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: 27%; /* Ajuste la position verticale */
    right: 61%; /* Ajuste la position horizontale */
    background-color: red; /* Couleur du badge */
    color: white; /* Couleur du texte */
    border-radius: 50%; /* Pour un effet circulaire */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    visibility: hidden; /* Cache le badge par défaut */
}

.img-avatar{
    width: 60px;
}

/****************************************************************/
/*******************        Contenu   ****************************/
/****************************************************************/

.contenu{
    display: flex ;
    flex-direction: row;
    gap: 120px;
    padding: 5% 0;
}

/* Style pour l'image principale */
.product-display {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.product-display img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/*****************************************/

/* Style pour les miniatures */

/*****************************************/
.product-thumbnails {
    display: flex;
    gap: 34px;
}

.product-thumbnails img {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition:  border 0.3s ease; /* Transition fluide */
}

/* Appliquer un filtre au survol */
.product-thumbnails img:hover {
    border: 2px solid hsl(26, 100%, 55%);
}






    
.product-images{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    margin: 20px;
}


  /*/////////////////////////////////////////////////////////////*/
  /*//////////////// Product Description ////////////////////*/
  /*/////////////////////////////////////////////////////////////*/

.product-description{
    flex: 1;
    /* padding: 10% 10% 5% 5%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.product-description h3{
    padding: 50px 0 0 0;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.811) !important;
}

.product-description h1{
    padding: 20px 0 30px 0;
}

.h1-newline {
    display: block; /* Crée un saut de ligne en CSS */
}

.shoes-description{
    line-height: 1.6;
    color : rgba(0, 0, 0, 0.811) !important;
}

.product-description span p{
    /* background-color: #FFFFFF; */
}

.shoes-description{
    display: inline-block;
}

.product-prices{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.product-price{
    font-weight: bold;
    padding: 10px 10px 10px 0;
    font-size: 28px;
}

.product-discount{
    background: black;
    color: white;
    border-radius: 10px;
    margin: 12px;
    padding: 6px 10px;
}

.product-old-price{
    text-decoration: line-through;
}

.addToCart-e-increaseQuantity{
    flex-direction: row;
    display: flex;
    margin: 50px 0;
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center; 
}

.addToCart-e-increaseQuantity button {
    cursor: pointer;

}




/**************************************************/
/************           Button         ************/
/**************************************************/

.add-to-cart{
    background: #FF7D1B;
    color: black;
    font-weight: bold !important;
    border: none;
    /* Définit la taille directement */
    width: 15.5rem;
    height: 3.5rem;
    
    padding: 5px 10px; /* Ajuste les marges internes du bouton (haut/bas et gauche/droite) */
    
    border-radius: 10px; /* Pour garder l'effet arrondi */
    cursor: pointer;
    transition: background 0.3s ease;
    
    font-size: 16px; /* Réduit la taille du texte */
    text-align: center;
    
    /* Empêche le flex de le redimensionner */
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.add-to-cart:hover{
    background-color: #fc9d54;;
}

.add-to-cart img{
    background: none;
    color: black !important;
}

.increase-quantity{
    background: #F7F8FD;
    margin: 0 15px 0 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Permet à l'élément de s'étendre */
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    height: 3.5rem;
    width: 9rem;
    border-radius: 10px;
}

.increase-quantity span{
    background: #F7F8FD;
    padding: 0 15px; 
}

.increase-quantity button{
    border: none !important;
    background: none;
    cursor: pointer;
}

.quantity{
    font-weight: bold;
}

.icon-minus{
    margin: 2px 0;
}




/* Style de la boîte du panier */
.cart-details {
    position: absolute;
    top: 40px; /* Positionné sous l'icône du panier */
    right: 0;
    width: 300px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-details h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cart-details p{
    /* background-color: #FFFFFF; */
}

  /* Si le panier est vide */
.cart-items::before {
    content: "Your cart is empty.";
    font-size: 14px;
    color: #888;
    display: block;
    text-align: center;
    margin: 20px 0;
}

.cart-items p {
    font-size: 14px;
    margin: 5px 0;
}

/*********************************************/


/* Style du modal */
.modal {
    display: none; /* Masqué par défaut */
    position: fixed; /* Reste au même endroit (fixe) */
    z-index: 1; /* Au-dessus du contenu normal */
    padding-top: 60px; /* Espacement en haut */
    left: 0;
    top: 0;
    width: 100%; /* Largeur totale */
    height: 100%; /* Hauteur totale */
    overflow: auto; /* Permet de faire défiler si nécessaire */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Noir avec transparence */
}
  
.modal-content {
    margin: auto;
    display: block;
    max-width: 90%; /* Limite la taille de l'image */
    width: auto;
    max-height: 80vh;
    height: auto;
    border-radius: 10px;
}
  
.close {
    position: absolute;
    top: 15px;
    right: 31.3%;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    background: none ;
}
  
.close:hover,
.close:focus {
    color: hsl(26, 100%, 55%);
    text-decoration: none;
    cursor: pointer;
}


/********************************/

/* Modal flèches de navigation */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 60px; /* Taille fixe pour la largeur et la hauteur */
    height: 60px;
    color: white;
    border-radius: 50%; /* Pour rendre la flèche ronde */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    user-select: none;
    transform: translateY(-50%); /* Centrer verticalement */
}
  
.next {
    right: 29%;
}

.prev{
    left: 29%;
}
  
.prev:hover, .next:hover {
    color: hsl(26, 100%, 55%);
}
  
.prev img, .next img {
    width: 16px; /* Taille de l'icône */
    height: 16px;
}

.prev img:hover{
    content: url('./images/previous-hover.svg'); /* Remplacer par l'image au survol */
}

.next img:hover{
    content: url('./images/next-hover.svg'); /* Remplacer par l'image au survol */
}


/*************************************************************/
/*****************Modal Thumbnails*****************************/
/*************************************************************/
  

.modal-thumbnails {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin: 15px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,-0.3); /* Noir avec transparence */
  }
  
  .modal-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
  }
  
  .modal-thumbnail.selected {
    border: 2px solid hsl(26, 100%, 55%);
  }

  
  
.cart-item-img{
    width: 50px; height: 50px; object-fit: cover; margin-right: 10px;
}


  
  
  